/* Basis-Layout (simuliert Smartphone am Desktop) */
body {
    background-color: #f3f4f6;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: system-ui, -apple-system, sans-serif;
}

#app-root {
    width: 100%;
    max-width: 430px;
    background-color: white;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    box-shadow: 0 0 40px rgba(0,0,0,0.15);
}

.hidden-file-input { display: none; }
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

.leaflet-container { font-family: inherit; z-index: 10; }

/* Map Pin für Karte */
.custom-map-icon {
    background-color: #e8e4c9;
    border: 3px solid #969b4e;
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg);
    width: 40px !important;
    height: 40px !important;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.2s ease;
}
.custom-map-icon:hover {
    transform: rotate(-45deg) scale(1.1);
}
.custom-map-icon img {
    transform: rotate(45deg);
    width: 100%;
    height: 100%;
    object-fit: cover;
}